services:
  web:
    build:
      context: .
    ports:
      - "5055:5000"
    environment:
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_SERVICE_ROLE_KEY: ${SUPABASE_SERVICE_ROLE_KEY}
      ORS_API_KEY: ${ORS_API_KEY}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
    volumes:
      - .:/app
    command: flask run --host=0.0.0.0 --reload
