  services:
    web:
      build:
        context: .
      ports:
        - "5000:5000"
      environment:
        DATABASE_URL: postgresql://postgres:***REMOVED***@db.ijkwprygjsbokfkclciv.supabase.co:5432/postgres
        JWT_SECRET_KEY: ***REMOVED***
      volumes:
        - .:/app
      command: flask run --host=0.0.0.0 --reload